.bg-nav {
    background-color: #00bad3;
    z-index: 100;
    box-shadow:  2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px; 
}

.logo {
    font-family: "Play", sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 2px 4px;
    border: 4px black solid;
    background-color: #ffffffea;
}

ul {
    margin-left: 20px;
}

a{
    color: #1c0033;
}

a:active {
    color: #380066;
}

a:hover {
    color: #075168;
}

li {
    font-size: 18px;
    font-weight: 400;
}

